.post-button {
    background: #26a69a;
    color: white;
    padding: 11px;
    margin-top: -22px;
}

.row{
    background: white;
    border-radius: 12px;
    padding: 25px;
    margin-right: 15px;
}

.center-center{    
    display: flex;
    align-items: center;
}

.event-list {
    border-bottom: 1px solid #eceef6;
}

.event-date {
    width: 65px;
}

.event-date .mat-input-element[type=date], 
.event-date .mat-input-element[type=datetime], 
.event-date .mat-input-element[type=datetime-local], 
.event-date .mat-input-element[type=month], 
.event-date .mat-input-element[type=week], 
.event-date .mat-input-element[type=time] {
    color: transparent !important;
}

@media only screen and (max-width: 600px) {
    .row {    
        width: 100%;
        max-width: 100% !important;
        margin-bottom: 15px;
    }
    .event-date {
        width: 100%;
    }
}