<div class="login" fxLayout="row" fxFlex  @fadeSlideInOut>
  <div fxFlex="50" fxLayout="column" class="login-background__wrapper">
    <div class="login-background__data">
      <span class="login-background__title">Welcome to time clock system! <br> </span>
      <span class="login-background__subtitle">Please enter your employee ID and password to begin.</span>
    </div>
    <div class="login-background">
      <img src="../../assets/app-images/login-background-v2.jpg" alt="login">
    </div>
    <div class="login-clock__wrapper">
      <button mat-button class="clock-button">Clock In Here!</button>
    </div>
  </div>
  <div  fxFlex="50" fxLayoutAlign="center center" class="login-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="login__logo-wrapper">
        <img class="login__logo" src="../../assets/app-images/iofortech-300-logo.png" alt="IOFORTECH">
      </div>
      <div class="login__form" fxLayout="column">
          <mat-form-field fxFlex class="login__inputs" appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput formControlName="uname" placeholder="Placeholder">
          <mat-icon matPrefix>account_circle</mat-icon>
          <mat-error> Please provide a valid username</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex class="login__inputs" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="password" type="password" required>
          <mat-icon matPrefix>lock</mat-icon>
          <mat-error> Please provide a valid password</mat-error>
        </mat-form-field>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognized
        </mat-error>
        <button mat-button class="login-button">LOGIN</button>
        <button mat-button class="clock-button">Clock In Here!</button>
      </div>
    </form>
  </div>
</div>
<div class="{{overlays}}">
  <mat-spinner class="loading"></mat-spinner>
</div>
<!-- Form for EmailJS -->
   <!-- <form class="contact-form" (submit)="sendEmail($event)">
          <label>Name</label>
          <input type="text" name="user_name">
          <label>To email</label>
          <input type="email" name="to_email">
          <label>Message</label>
          <textarea name="message"></textarea>
          <input type="submit" value="Send">
      </form> -->
