<div class="employee" fxLayout="row" fxLayoutGap="20px">
  <div class="employee__table" fxFlex="65" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
          <div fxLayout="column">
                <div class="table-titles">Employees</div>
                <div class="table-subtitles">Over {{employees.length}} Members</div>
          </div>
          <div class="search-wrapper" fxLayout="row" fxLayoutGap="15px">
            <div class="search-content {{active}}">
              <div class="search-input">
                <input type="text" name="" class="search-input">
              </div>
              <button class="search-btn" (click)="changeClass(true)"><mat-icon>search</mat-icon></button>
            </div>
            <div>
              <button class="add-btn" mat-button  (click)="openEmployeeDialog('add', '')">+ New Employee</button>
            </div>
          </div>
    </div>
      <mat-list class="employee__header-table" fxLayout="row">
          <mat-list-item fxFlex="55">Name</mat-list-item>
          <mat-list-item fxFlex="25" fxLayoutAlign="start">Contact</mat-list-item>
          <mat-list-item fxFlex="25">Actions</mat-list-item>
      </mat-list>      
      <mat-list class="employee__content-table" fxLayout="row" *ngFor="let emp of employees">
          <mat-spinner *ngIf="!employees"></mat-spinner>
          <mat-list-item fxLayout="row" fxFlex="55">          
              <div class="thumbnail">
                <img src="{{emp.profile_img || defaultProfileImage}} " alt="thumbnail">              
                <div class="employee-online" [ngStyle]="{'background-color': emp.online ? '#33ab5f' : '#FF0000'}"> </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start start">
                <div class="item-title">{{emp.last_name}}, {{emp.first_name}} </div>
                <div class="item-line">ID: {{emp.id}}</div>
              </div>
          </mat-list-item>
          <mat-list-item fxFlex="25">
              <div fxLayout="column" fxLayoutAlign="start start">
                <div class="item-title">+(63){{emp.contact_no}}</div>
                <div class="item-line">{{emp.email_add}}</div>
              </div>
          </mat-list-item>
          <mat-list-item fxFlex="25">
            <div class="item-icon" (click)="openEmployeeDialog('update', emp)"><mat-icon>edit</mat-icon></div>
            <div class="item-icon" (click)="alertMessage('remove', 'employee')"><mat-icon>delete</mat-icon></div>
            <div class="item-icon" mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></div>
              <mat-menu class="item-menu" #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="openAttendanceDialog('revoke', emp)">Revoke Attendance</button>
                <button mat-menu-item (click)="openAttendanceDialog('add', emp)">Add Attendance</button>
                <button mat-menu-item (click)="openRequest(emp)">Requests</button>
              </mat-menu>
          <div class="item-icon" (click)="openAttendance(emp)"><mat-icon>calendar_today</mat-icon></div>
          </mat-list-item>
      </mat-list>
      
      <mat-paginator [hidePageSize]="true" [length]="length"
              (page)="handlePageEvent($event)"
              [pageSize]="1"
              [pageSizeOptions]="[5, 10, 25, 50]"
              aria-label="Select page">
      </mat-paginator>
  </div>
  <!-- <div class="employee__profile" fxFlex fxLayout="column">
    
  </div> -->
</div>



<!-- <div class="table__wrapper" fxLayout="column">
  <div class="table__top" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
    <div fxFlex class="employee-header__title">
      Employees
    </div>
    <div>
      <mat-form-field fxFlex class="employee-header__search" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="search" placeholder="Search" [(ngModel)]="searchfield" (ngModelChange)="searchEmployee()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="end end" class="employee-header__button">
      <button mat-button class="medial-button " (click)="openEmployeeDialog('add', '')">
        <mat-icon>add</mat-icon>
        {{addEmployeeText}}
      </button>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
          <div class="employee-online" [ngStyle]="{'background-color': element.data.online ? '#33ab5f' : '#FF0000'}"> </div>
          <div mat-card-avatar class="example-header-image">
            <p>
              {{element.avatar}}
            </p>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell class="capitalize" *matCellDef="let element"> {{element.data.first_name}} {{element.data.last_name}}</td>
      </ng-container>
      <ng-container matColumnDef="email_add">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.data.email_add}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="employee-action" (click)="openEmployeeDialog('update', element)">
            <mat-icon>edit</mat-icon>
          </div>  
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div> -->
