.employee-header__wrapper {
  padding: 10px 20px;
}

.employee-header__button {
  text-align: center;
  margin-top: 4px;
}

.employee-header__button button {
  padding: 6px 30px;
  margin: 0 19px;
}

.employee-card__wrapper {
  padding: 20px;
}

.employee-card {
  margin-bottom: 15px;
  min-width: 32%;
}

.open-list {
  position: absolute;
  right: 5px;
  top: 2px;
}

.card-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.mat-card-title {
  font-size: 24px;
  padding: 2px 0 4px 0;
}

.search__wrapper {
  margin-bottom: -25px;
}
.online__circle{
  position: absolute;
}
.online {
  background: #DC143C;
  padding: 6px;
  border: 1px solid white;
  border-radius: 100%;
}
