.sidenav-container {
  height: 100vh;
}

.sidenav {  
  width: 215px;
  color: #6d6d6d;
  border-radius: 25px;
  margin: 10px;
  border: none;
  left: 0;
  right: 0;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-wrapper img {
  width: 100%;
}

.logo-wrapper {
  padding: 32px;
  margin: 1% auto 0;
}



.active-list-item {
  background: rgba(0, 0, 0, 0.04);
  /* border-left: 10px solid #51989c; */
  font-weight: 500;
}

.sidenav-texts:hover {
  background: rgba(0, 0, 0, 0.04);
  /* border-left: 10px solid #51989c; */
  font-weight: 500;
}
.sidenav-texts a {
  color: #6d6d6d;
  font-weight: 400;
  transition: 0.5s;
  font-size: 15px;
  text-transform: capitalize;
}

.sidenav__photo {
  border-radius: 100px;
  overflow: hidden;
  width: 130px;
  height: 130px;
}
.sidenav__profile {  
  padding: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sidenav__name {
  text-transform: capitalize;
  padding-top: 16px;
  padding-bottom: 12px;
}
.sidenav__edit {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.sidenav__edit button:first-child {
  border: none;
  border-radius: 100px;
  background: #51989c;
  color: white;
  font-size: 12px;
  padding: 5px 12px;
  text-transform: capitalize;
}

.sidenav__edit button:hover{
  transition: 1ms;
  background-color: #FC9B12;
}
.sidenav__edit button {
  cursor: pointer;
  color: #51989c;
  border: 1px solid #51989c;
  font-size: 12px;
  padding: 5px 12px;
  background-color: white;
  text-transform: capitalize;
  border-radius: 100px;
}
.avatar__wrapper {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px;
  cursor: pointer;
}

.sidenav-texts__wrapper {
  overflow: hidden;
}

/*.sidenav-texts a:hover {*/
/*  background: #ea8722;*/
/*  color: white;*/
/*  font-weight: 500;*/
/*}*/


.top-right__header-wrapper {
  padding: 20px;
}

.welcome {
  font-size: 20px;
  margin: 5px;
  padding: 0 22px;
  text-transform: capitalize;
  color: #545454;
}

.top-header {
  box-shadow: 0 1px 1px #80808026;
  background: white;
  color: black;
}

.sidenav-settings {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 46px;
}

.sidenav-copyright {
  position: absolute;
  bottom: 12px;
  left: 45px;
  width: auto;
  padding-left: 15px;
  font-size: 10px;
}
.sidenav-copyright mat-icon {
  font-size: 10px !Important;
  margin-right: -15px;
}

.sub-navs {
  cursor: pointer;  
  padding: 4px 0;
  text-transform: uppercase;
}

.main-content__wrapper {
  /* background:#eceef6; */
  padding: 25px;
}
.sub-navs__wrapper{
  margin-left: 46px;
}

/* New Css */
.big-screen {
  color: #409084;
}
.navbar {
    border-radius: 12px;
    background: linear-gradient(177.35deg, #FC9B12 0%, #FD7F15 100%);
    border-radius: 12px;
    border: none;
    padding: 10px;
    margin: 20px;
    height: 96%;
}
.navbar-labels {
  color: #ffffff !important;
  font-weight: 400;
  font-size: 15px  !important;
  text-transform: capitalize !important;
  cursor: pointer;
}
.navbar-icons {
    margin-right: 9px;
    color: white;
}
.main-contents{
  /* margin-left: 242px !important */
}
.navbar-container {
  height: 100%;
}
.mat-list-base {
   padding-top: 0 !important;
}