<mat-sidenav-container class="sidenav-container" *ngIf="isLoggedIn">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo-wrapper">
      <img class="logo-1" src="../assets/app-images/iofortech-300-logo.png" alt="iofortech">
      <img class="logo-2" src="../assets/app-images/io.png" alt="iofortech">
    </mat-toolbar>
    <div fxLayout="column" class="sidenav-texts__wrapper">
      <mat-nav-list class="sidenav-texts" *ngFor="let nav of navigators">
        <a mat-list-item
           routerLinkActive #rla="routerLinkActive"
           [routerLinkActive]="active_class"
           [routerLink]="[role_dec_logged + '/' + nav.nav_name]">
          <mat-icon class="icon-sidenav__wrapper">{{nav.nav_icon}}</mat-icon>
<!--          <div class="icon-sidenav__wrapper"><img src="../assets/app-images/{{nav.nav_icon}}.png" alt="icons"></div>-->
          <span class="sidenav-label">{{nav.nav_name}}</span>
        </a>
      </mat-nav-list>
      <mat-nav-list class="sidenav__settings">
        <a [routerLink]="['settings']"><img class="sidenav-settings" src="../assets/app-images/settings_icon.png"> </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-header">
      <button class="burger-menu" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <div fxFlex></div>
      <div fxLayout="row" class="top-right__header-wrapper">
        <div class="welcome">Welcome, {{profile.first_name}} {{profile.last_name}}</div>
        <div class="avatar__wrapper" [matMenuTriggerFor]="menu">
          <img class="avatar__image" src="{{profile.profile_img || defaultProfileImage}}" alt="profile">
        </div>
<!--        <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--          <mat-icon>account_circle</mat-icon>-->
<!--        </button>-->
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openProfile()">My Profile</button>
          <button mat-menu-item (click)="logOut()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="main-content__wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet *ngIf="isLoggedIn === false"></router-outlet>


