.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 165px;
  background: #fafafa;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-wrapper img {
  width: 100%;
}

.logo-wrapper {
  padding: 32px;
  margin: 1% auto 0;
}

.sidenav-texts a {
  color: #212121;
  /*color: #1bd1d6;*/
  font-weight: 500;
  transition: 0.5s;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}

.avatar__wrapper {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px;
  cursor: pointer;
}

.sidenav-texts__wrapper {
  overflow: hidden;
}

/*.sidenav-texts a:hover {*/
/*  background: #ea8722;*/
/*  color: white;*/
/*  font-weight: 500;*/
/*}*/


.active-list-item {
  color: black;
  border-left: 9px solid #349b9e;
  font-weight: 500;
}

.top-right__header-wrapper {
  padding: 20px;
}

.welcome {
  font-size: 20px;
  margin: 5px;
  padding: 0 22px;
  text-transform: capitalize;
  color: #ffffff;
}

.top-header {
  box-shadow: 0 1px 1px #80808026;
}

.sidenav-settings {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 46px;
}

.sidenav-copyright {
  position: absolute;
  bottom: 12px;
  left: 45px;
  width: auto;
  padding-left: 15px;
  font-size: 10px;
}
.sidenav-copyright mat-icon {
  font-size: 10px !Important;
  margin-right: -15px;
}




