<div (mouseover)="movementCount()">
  <div class="{{overlays}}">
    <mat-spinner class="loading"></mat-spinner>
  </div>
  <mat-sidenav-container class="sidenav-container" *ngIf="isLoggedIn">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="logo-wrapper">
        <img class="logo-1" [src]="company_logo" alt="iofortech">
        <img class="logo-2" src="../assets/app-images/io.png" alt="iofortech">
      </mat-toolbar>
      <div fxLayout="column" class="sidenav-texts__wrapper">
        <mat-nav-list class="sidenav-texts" *ngFor="let nav of navigators">
          <a mat-list-item
             routerLinkActive #rla="routerLinkActive"
             [routerLinkActive]="active_class"
             [routerLink]="[role_dec_logged + '/' + nav.nav_name]">
            <mat-icon class="icon-sidenav__wrapper">{{nav.nav_icon}}</mat-icon>
            <!--          <div class="icon-sidenav__wrapper"><img src="../assets/app-images/{{nav.nav_icon}}.png" alt="icons"></div>-->
            <span class="sidenav-label">{{nav.nav_name}}</span>
          </a>
        </mat-nav-list>
        <mat-nav-list class="sidenav__settings">
          <a [routerLink]="[role_dec_logged + '/' + 'settings']">
            <!--          <img class="sidenav-settings" src="../assets/app-images/settings_icon.png">-->
            <mat-icon class="sidenav-settings">settings</mat-icon>
          </a>
          <span class="sidenav-copyright">
          <mat-icon>copyright</mat-icon>
            {{copyright}}</span>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="top-header">
        <button mat-icon-button>
          <mat-icon class="big-screen" (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="small-screen" [matMenuTriggerFor]="navigator">menu</mat-icon>
        </button>
        <mat-menu #navigator="matMenu" xPosition="before">
          <button class="small-screen__nav" mat-menu-item *ngFor="let nav of navigators"
                  [routerLinkActive]="active_class"
                  [routerLink]="[role_dec_logged + '/' + nav.nav_name]">{{nav.nav_name}}</button>
        </mat-menu>
        <div fxFlex></div>
        <div fxLayout="row" class="top-right__header-wrapper">
          <div class="welcome big-screen">Welcome, {{profile.first_name}} {{profile.last_name}}</div>
          <div class="avatar__wrapper big-screen" [matMenuTriggerFor]="menu">
            <img class="avatar__image big-screen" src="{{profile.profile_img || defaultProfileImage}}" alt="profile">
          </div>
          <!--        <button mat-icon-button [matMenuTriggerFor]="menu">-->
          <!--          <mat-icon>account_circle</mat-icon>-->
          <!--        </button>-->
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openProfile()">My Profile</button>
            <button mat-menu-item (click)="logOut()">Logout</button>
          </mat-menu>

          <div class="header-name small-screen"
               [matMenuTriggerFor]="smallmenu">{{profile.first_name}} {{profile.last_name}}
            <mat-icon class="header-icon">arrow_drop_down</mat-icon>
          </div>
          <mat-menu #smallmenu="matMenu">
            <button mat-menu-item (click)="openProfile()">My Profile</button>
            <button mat-menu-item (click)="logOut()">Logout</button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <div class="main-content__wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet *ngIf="isLoggedIn === false"></router-outlet>


</div>
