h3 {    
    border-bottom: 1px solid #e0e0e0;    
    margin-bottom: 0;
    padding: 2px 13px;
}
.inv__auto-input {
    width: 300px;
}
.inv__inv-input{
    width: 145px;
}

.inv__wrapper {
    background: white;
    height: 750px;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0px 1px 5px -2px rgb(0 0 0 / 20%);
    /* justify-content: space-between; */
}
::ng-deep .mat-slide-toggle-content {
    font-family: 'Poppins' !important;
    font-size: 14px;
}

#printInvoice .label {
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}
#printInvoice .data {
    font-size: 14px;
    text-transform: capitalize;
}
#printInvoice h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.logo-wrapper {
    width: 250px;
}
.padding-16 {
    padding: 0 16px;
}
#printInvoice {
  display: none;
  width: 750px;
  padding: 25px;
  background-color: white;
}

@media print {  
    #printInvoice .label {
        font-size: 14px;
        font-weight: 600;
        margin-right: 15px;
    }
    #printInvoice .data {
        font-size: 14px;
        text-transform: capitalize;
    }
    #printInvoice h2 {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .logo-wrapper {
        width: 250px;
    }
    .padding-16 {
        padding: 0 16px;
    }
    #printInvoice {
      width: 750px;
      background-color: white;
      padding: 25px;
      margin: 0;
    }
}



@media only screen and (max-width: 756px) {
    .inv__wrapper {
        height: auto;
    }
    .inv__wrapper h1 {
        width: 50%;
    }
    .inv__tables .inv__tables-col {
        width: 100%;
        max-width: 100% !important;
    }
    .inv__top-header-btns {
        justify-content: end;
        align-items: center;
        margin: 0 auto;
    }
}