
<div fxLayout="column" class="inv__wrapper" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1>New Invoice</h1>
        <div class="inv__top-header-btns" fxLayout="row" fxLayoutGap="15px">
                <button mat-button class="generate-btn"
               [disabled]="!(this.invoiceForm.get('start_date')?.value 
                && this.invoiceForm.get('end_date')?.value
                &&  this.empId !== undefined
                && this.invoiceForm.get('invoice_no')?.value)"                
                (click)="getPayroll()">Generate</button>
                <button mat-button class="reset-btn" (click)="resetInformations()">Reset</button>
                <button mat-button class="inv-btn"><mat-icon>download</mat-icon> PDF</button>
                <button mat-button class="inv-btn"><mat-icon>print</mat-icon>Invoice</button>
                <button mat-button  class="save-btn"
                [disabled]="!(this.invoiceForm.get('start_date')?.value 
                && this.invoiceForm.get('end_date')?.value
                &&  this.empId !== undefined
                && this.invoiceForm.get('invoice_no')?.value
                && this.generatedButton)"
                (click)="submitToInvoice()">Save Invoice</button>
        </div>
    </div>
    <form [formGroup]="invoiceForm" fxLayout="row" fxLayoutGap="15px" >
        <div fxLayout="column">
            <div fxLayout="row"fxLayoutAlign="space-between center">
                    <mat-form-field  class="inv__inv-input" appearance="outline" floatLabel="always">
                        <mat-label>Invoice No.</mat-label>
                        <input matInput formControlName="invoice_no" type="number">
                    </mat-form-field>            
                    <mat-form-field class="inv__inv-input" appearance="outline" floatLabel="always">
                        <mat-label>Payroll Status</mat-label>
                        <mat-select [(value)]="payRollStatus" (valueChange)="payrollStatus()">
                            <mat-option value="hourly">Hourly Rate</mat-option>
                            <mat-option value="monthly">Bi-Monthy Rate</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
            <mat-form-field class="inv__auto-input" appearance="outline" floatLabel="always">
                <mat-label>Employee Name</mat-label>
                <input type="text"
                    placeholder="Enter employee's name"
                    aria-label="Employee"
                    matInput
                    (selectionchange)="selectedEmployee({id: selected_members_id})"
                    [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="selectedEmployee(option)" (keyup.enter)="selectedEmployee(option)">
                    {{option.name | json}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div fxLayout="column">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>From:</mat-label>
                <input matInput formControlName="start_date" type="date">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>To:</mat-label>
                <input matInput formControlName="end_date" type="date">
            </mat-form-field>
        </div>
        <div fxLayout="column" class="inv__toggles">
            <mat-slide-toggle [(ngModel)]="sssIsChecked" [ngModelOptions]="{standalone: true}" (change)="totalDeductionsCalculations()">SSS</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="pagIsChecked" [ngModelOptions]="{standalone: true}" (change)="totalDeductionsCalculations()">Pag Ibig</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="phiIsChecked" [ngModelOptions]="{standalone: true}" (change)="totalDeductionsCalculations()">Philhealth</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="underTimeChecked" [ngModelOptions]="{standalone: true}" (change)="totalDeductionsCalculations()">Undertime</mat-slide-toggle>
        </div>
        <div fxLayout="column" class="tax__column">
            <mat-list dense fxLayout="row">
                <mat-list-item class="" fxFlex="60">Tax Status</mat-list-item>
                <mat-list-item class="" fxFlex="40">
                    <mat-button-toggle-group class="tax__toggle-btn" [(ngModel)]="taxStatus" (ngModelChange)="taxtStatusChange()" [ngModelOptions]="{standalone: true}">
                        <mat-button-toggle [value]="true">Yes</mat-button-toggle>
                        <mat-button-toggle [value]="false">No</mat-button-toggle>
                      </mat-button-toggle-group>
                </mat-list-item>
            </mat-list>      
            <mat-list dense fxLayout="row">
                <mat-list-item class="" fxFlex="60">Salary Tax Status</mat-list-item>
                <mat-list-item class="" fxFlex="40">Above-Min</mat-list-item>
            </mat-list>      
            <mat-list dense fxLayout="row">
                <mat-list-item class="" fxFlex="60">Track DTR</mat-list-item>
                <mat-list-item class="" fxFlex="40">NO</mat-list-item>
            </mat-list>            
        </div>
        <!-- <div class="inv__header-btns" fxLayout="row" fxLayoutGap="15px">
            <button mat-button class="generate-btn" (click)="getPayroll()">Generate</button>
            <button mat-button class="add-btn" >Reset</button>
        </div> -->
    </form>
    <div class="divider"></div>
    <div class="inv__tables" fxLayout="row" fxLayoutGap="15px">
        <div class="inv__tables-col" fxLayout="column" fxFlex="25">
            <mat-list dense fxLayout="row" class="inv__table-header">
                <mat-list-item fxFlex>Description</mat-list-item>
                <mat-list-item fxFlex="20" fxLayoutAlign="center center">Days</mat-list-item>
                <mat-list-item fxFlex="20" fxLayoutAlign="center center">Hours</mat-list-item>
                <mat-list-item fxFlex="20" fxLayoutAlign="center center">Amount</mat-list-item>
            </mat-list>
            <mat-list dense class="inv__table-content" fxLayout="row" *ngFor="let cat of category">
                <mat-list-item fxFlex>{{cat.cat}}</mat-list-item>
                <mat-list-item class="inv__table-data"  fxLayoutAlign="center center" fxFlex="20">
                    <span *ngIf="cat.cat === 'Regular Days'"> {{regularDays}}</span>
                    <span *ngIf="cat.cat === 'Special Holiday'"> {{holidayListed.length}}</span>
                    <span *ngIf="cat.cat === 'Regular OT'">{{OT}}</span>
                    <span *ngIf="cat.cat === 'Absences'"> {{absences}}</span>
                    <span *ngIf="cat.cat === 'Undertime'"></span>
                </mat-list-item>
                <mat-list-item class="inv__table-data"  fxLayoutAlign="center center" fxFlex="20">
                    <span *ngIf="cat.cat === 'Regular Days'">{{regularHours}}</span>
                    <span *ngIf="cat.cat === 'Special Holiday'">{{specialHolHour}}</span>
                    <span *ngIf="cat.cat === 'Regular OT'"> {{OThours}}</span>
                    <span *ngIf="cat.cat === 'Absences'"></span>
                    <span *ngIf="cat.cat === 'Undertime'">{{undertime}}</span>
                </mat-list-item>
                <mat-list-item class="inv__table-data" fxFlex="20" fxLayoutAlign="center center">
                    <span *ngIf="cat.cat === 'Regular Days'">{{regularAmount | number: '2.2'}}</span>
                    <span *ngIf="cat.cat === 'Special Holiday'">{{specialHolAmount | number: '2.2'}}</span>
                    <span *ngIf="cat.cat === 'Regular OT'">{{OTAmount | number: '2.2'}}</span>
                    <span *ngIf="cat.cat === 'Absences'"></span>
                    <span *ngIf="cat.cat === 'Undertime'">{{undertimeDeduction | number : '2.2'}}</span>
                </mat-list-item>
            </mat-list>

        </div>

        <div class="inv__tables-col" fxLayout="column" fxFlex="20">
            <mat-list dense fxLayout="row" class="inv__table-header">
                <mat-list-item fxFlex="60">Description</mat-list-item>
                <mat-list-item fxFlex="40"  fxLayoutAlign="center center">Amount</mat-list-item>
            </mat-list>
            <mat-list dense class="inv__table-content" fxLayout="row" *ngFor="let deduc of deductions">
                <mat-list-item fxFlex="60">{{deduc.cat}}</mat-list-item>
                <mat-list-item fxFlex="40"  fxLayoutAlign="center center">
                    <span *ngIf="deduc.abb === 'ca'">{{totalCa  | number: '2.2'}}</span>
                    <span *ngIf="deduc.abb === 'sss'">{{totalSSSMonthlyContribution  | number: '2.2'}}</span>
                    <span *ngIf="deduc.abb === 'phil'">{{totalPhilMonthlyContribution  | number: '2.2'}}</span>
                    <span *ngIf="deduc.abb === 'pag'">{{totalPagMonthlyContribution  | number: '2.2'}}</span>               
                </mat-list-item>
            </mat-list>
        </div>

        <div class="inv__tables-col" fxLayout="column" fxFlex>
            <!-- <div class="inv__tax-tables"  fxLayout="column" fxFlex>
                <span class="inv__table-header padding-right-15">Tax</span>
                <div fxLayout="row" fxLayoutGap="10px" fxFlex>
                    <mat-list dense fxFlex fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Tax Income</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{taxIncome | number: '2.2'}}</mat-list-item>
                    </mat-list>      
                    <mat-list dense fxFlex fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Tax</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{deduction.tax | number :'2.2'}}</mat-list-item>
                    </mat-list>      
                    <mat-list dense fxFlex fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Net of Tax</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{taxNet | number: '2.2'}}</mat-list-item>
                    </mat-list>    
                </div>  
             </div>   -->
            <!-- <div class="divider"></div> -->
            <div fxLayout="row" class="inv__earnings-n-deducations" fxFlex fxLayoutGap="15px">
                <div fxLayout="column"class="inv__earnings">
                    <span class="inv__table-header padding-right-15">Earnings</span>
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Basic Pay</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{basicPay | number: '2.2'}}</mat-list-item>
                    </mat-list>      
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Overtime Pay</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{OTPay | number: '2.2'}}</mat-list-item>
                    </mat-list>      
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Holiday Pay</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{holPay | number: '2.2'}}</mat-list-item>
                    </mat-list>   
                </div>
                <div fxLayout="column" class="inv__deductions">
                    <span class="inv__table-header padding-right-15">Deductions</span>
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Undertime</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{underTimeChecked ? undertimeDeduction : 0}}</mat-list-item>
                    </mat-list>     
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">SSS Deduction</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{sssIsChecked ? sssDeduction : 0}}</mat-list-item>
                    </mat-list>     
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">PhilHealth Deduction</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{phiIsChecked ? philDeduction : 0}}</mat-list-item>
                    </mat-list>     
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="60">Pag-Ibig Deduction</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="40">{{pagIsChecked ? pagDeduction : 0}}</mat-list-item>
                    </mat-list>     
                </div>
                <div fxLayout="column" fxFlex>
                    <span class="inv__table-header padding-right-15">Tax</span>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <mat-list dense fxLayout="row">
                            <mat-list-item class="inv__table-total-titles" fxFlex="60">Tax Income</mat-list-item>
                            <mat-list-item class="inv__table-total-amount" fxFlex="40">{{taxIncome | number: '2.2'}}</mat-list-item>
                        </mat-list>      
                        <mat-list dense fxLayout="row">
                            <mat-list-item class="inv__table-total-titles" fxFlex="60">Tax</mat-list-item>
                            <mat-list-item class="inv__table-total-amount" fxFlex="40">{{taxStatus ? deduction.tax : 0 | number :'2.2'}}</mat-list-item>
                        </mat-list>      
                        <mat-list dense fxLayout="row">
                            <mat-list-item class="inv__table-total-titles" fxFlex="60">Net of Tax</mat-list-item>
                            <mat-list-item class="inv__table-total-amount" fxFlex="40">{{taxNet | number: '2.2'}}</mat-list-item>
                        </mat-list>    
                    </div>  
                 </div>  
            </div>
            <div class="divider"></div>
            <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="column">
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="40">Total Deductions</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="60">{{totalDeductions | number :'2.2'}}</mat-list-item>
                    </mat-list>      
                    <mat-list dense fxLayout="row">
                        <mat-list-item class="inv__table-total-titles" fxFlex="40">Gross Pay</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="60">{{grossPay | number :'2.2'}}</mat-list-item>
                    </mat-list>      
                    <mat-list dense fxLayout="row" class="inv__net-pay">
                        <mat-list-item class="inv__table-total-titles" fxFlex="40">Net Pay</mat-list-item>
                        <mat-list-item class="inv__table-total-amount" fxFlex="60">{{netPay | number :'2.2'}}</mat-list-item>
                    </mat-list>
                </div>            
            </div>
        </div>
    </div>   
</div>