<div class="clock__wrapper" fxLayout="column">
    <span class="clock__time">{{timeNow}}</span>
    <span class="clock__date">{{dateNow}}</span>

    <div class="clock__tap">
        <!-- <div class="clock__tap-img"></div>
        <span>CLOCK IN</span> -->


        <div class="clock__code"  *ngIf="todayExist === false"> 
            <mat-form-field color="warn" appearance="fill" [(ngModel)]="code" ngDefaultControl [(ngModel)]="code" (ngModelChange)="checkCode()">
                <mat-label>Code</mat-label>
                <input matInput [maxLength]="lengthCode">
            </mat-form-field>
        </div>

        <div class="clock__out" fxLayout="row" fxLayoutGap="25px" *ngIf="todayExist === true">
            <button mat-button class="clock__out-btn clock__out-no" (click)="cancelClockOut()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <span fxFlex></span>
            <button mat-button class="clock__out-btn clock__out-yes" (click)="timeOut()">Clock Out!</button>
        </div>

    </div>

    <div class="clock__warning" *ngIf="!officeLocation">
        <img src="../../assets/app-images/place-marker.png" alt="location">
        <p>You are not in the office reach</p>   
    </div>
</div>



<!-- <div class="attendance__main-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="attendance__first-section" fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" class="attendance__title">
      <span>{{dateToday |  date:"fullDate"}}</span>
      <span class="attendance__time">{{dateToday |  date:"shortTime"}}</span>
    </div>
    <div class="attendance__form" fxLayout="row" fxLayoutAlign="center center">
      <span class="display-time-ago" *ngIf="displayMomentAgo.length > 0">{{'You timed in ' + displayMomentAgo}}</span>
      <span class="display-phrase" *ngIf="displayMomentAgo.length > 0">{{'Do you wanna clock out?'}}</span>
      <div>
        <div class="attendance__separator"></div>
        <div fxLayout="column" *ngIf="todayExist === false">
          <mat-form-field color="warn" appearance="outline" [(ngModel)]="code" ngDefaultControl
                          (ngModelChange)="checkCode()">
            <mat-label>Code</mat-label>
            <input matInput [maxLength]="lengthCode">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="25px" *ngIf="todayExist === true">
          <button mat-button class="cancel__button" (click)="cancelClockOut()">NOPE</button>
          <span fxFlex></span>
          <button mat-button class="clock-out__button" (click)="timeOut()">Clock Out!</button>
        </div>
      </div>
      <div fxLayout="column" *ngIf="alreadyLoggedIn === true">
        <h2>Already logged in.</h2>
      </div>
    </div>
  </div>
  <div fxLayout="row"></div>
</div> -->
