<div class="employee" fxLayout="row wrap" fxLayoutGap="20px">
  <div class="employee__table" fxFlex="40" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="back-btn" *ngIf="role_dec_logged === 'admin'"(click)="backToEmployee()">
            <mat-icon>keyboard_backspace</mat-icon>
        </div>
          <div class="thumbnail">
            <img src="{{prof?.profile_img || defaultProfileImage}} " alt="thumbnail">              
          </div>
          <div fxLayout="column">
                <div class="table-titles">Attendance</div>
                <div class="table-subtitles">{{prof?.first_name}} {{prof?.last_name}}</div>
          </div>
          <div fxLayout="row">
          </div>
      </div>


      <div>
        <!--  [(selected)] = "selectedDate" -->
        <div class="calendar-wrapper" *ngIf="presentDate.length > 0">
          <mat-calendar #calendar (click)="triggerFalseClick()"
                [dateClass]="dateClass()" (selectedChange)="selectedDateChange($event)"
                [(selected)]="selectedDate">
            </mat-calendar>
          </div>

      </div>
  </div>
  <div class="employee__table" fxLayout="column" fxFlex="30" fxLayoutGap="20px">
      <div class="attendance__details">
          <div class="attendance__time-details"> 
             <h3>FEBRUARY </h3>  
             <div class="bimonthly__select-wrapper" fxLayoutGap="15px">
                <mat-button mat-button class="bimonthly__select" [ngClass]="bimonthlySelection  ? 'bimonthly__active' : ''" (click)="semiSelectionClicked()">15th</mat-button>
                <mat-button mat-button class="bimonthly__select" [ngClass]="!bimonthlySelection ? 'bimonthly__active' : ''" (click)="semiSelectionClicked()">30th</mat-button>
             </div>
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <ul>
                  <li>
                    <span class="item-title">Absences: </span>
                    <span>{{bimonthlySelection  ? totalFirstAbsences : totalSecondAbsences}}</span>
                  </li>
                  <li>
                    <span class="item-title">Present: </span>
                    <span>{{bimonthlySelection  ? totalFirstPresent: totalSecondPresent}}</span>
                  </li>
                  <li>
                    <span class="item-title">Overtime: </span>
                    <span>{{bimonthlySelection  ? totalFirstApprovedOvertime: totalFirstApprovedOvertime}}</span>
                  </li>
                </ul>
                
                <ul>
                  <li>
                    <span class="item-title">Working Hours: </span>
                    <span>{{bimonthlySelection  ? totalFirstWorkingHours: totalSecondWorkingHours}}</span>
                  </li>
                  <li>
                    <span class="item-title">Tardiness: </span>
                    <span>{{bimonthlySelection  ? totalFirstLate: totalSecondLate}}</span>
                  </li>
                </ul>
            </div>
          </div>
      </div>



      <div class="attendance__details">
        <div class="attendance__time-details">
          
          <h3>{{dateSelected}}</h3>
          <ul>
            <li>
              <h5>First In Time:</h5>
              <span>{{timeIn}}</span>
            </li>
            <li>
              <h5>Last Out Time:</h5>
              <span>{{timeOut}}</span>
            </li>
            <li>
              <h5>Work Hours:</h5>
              <span>{{totalWorkHours.toFixed(2)}}</span>
            </li>
          </ul>
        </div>
        <div class="attendance__legend">
          <h2>Legend</h2>
          <div class="attendanc__legend-info">
            <div class="legend-box legend-box__holiday">
              <div class="legend-box__color"></div>
              <span class="legend-box__name">Holiday</span>
            </div><!-- .legend-box -->
            <div class="legend-box legend-box__off">
              <div class="legend-box__color"></div>
              <span class="legend-box__name">Off</span>
            </div><!-- .legend-box -->
            <div class="legend-box legend-box__leave">
              <div class="legend-box__color"></div>
              <span class="legend-box__name">Leave</span>
            </div><!-- .legend-box -->
            <div class="legend-box legend-box__absent">
              <div class="legend-box__color"></div>
              <span class="legend-box__name">Absent</span>
            </div><!-- .legend-box -->
            <div class="legend-box legend-box__present">
              <div class="legend-box__color"></div>
              <span class="legend-box__name">Present</span>
            </div><!-- .legend-box -->
          </div>
        </div>
      </div> 
  </div>   
</div>
