.attendance-log {
    padding: 50px;
}

.attendance-log__wrapper{
    padding: 25px;
    background: white;
    border-radius:12px;
}
.request__box {
    padding: 0 30px;
}
.approved-btn{
    width: 80px;
    text-align: center;
    background-color: #e1ecf4;
    border-radius: 50px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    padding: 5px 11px;
    font-size: 12px;
    transition: 0.5s;
}

.deny-btn{
    width: 80px;
    text-align: center;
    background-color: #e8425874;
    border-radius: 50px;
    border: 1px solid #e84258;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #e84258;
    cursor: pointer;
    display: inline-block;
    padding: 5px 11px;
    font-size: 12px;
    transition: 0.5s;
}
.deny-btn:hover{
    background-color: #e84258;
    color: white;
}
.approved-btn:hover{
    background-color: #7aa7c7;
    color: white;
}

.request-history__lists {
    background: #eceef6;
    border-radius: 20px;
    padding: 10px;
}

.request-history__lists mat-list-item {
    font-size: 12px !important;
    padding: 0;
}

.mat-list.mat-list-base.request-history__header {
    background: white;
    border-radius: 11px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.request-history__content {
    border-bottom: 1px solid white;
}

.request-history__status {
    background: white;
    border-radius: 30px;
    width: 95px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
}
.request-history__status-icon{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 5px;
}



.attendance__table {
    width: 450px;
}
.attendance__table-header{
    text-transform: uppercase;
}
.attendance__details {
    background-color: #ffffff;
    /* width: 30%; */
    border-radius: 15px;
    padding: 25px;
}
.attendanc__legend-info {
    width: 100%;
    max-width: 230px;
}
.attendance__time-details {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.attendance__time-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.attendance__time-details ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.attendance__time-details ul li:last-child {
    margin-bottom: 0;
}
.attendance__time-details ul li h5 {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    width: 100%;
    max-width: 120px;
}
.attendance__legend h2 {
    font-weight: 600;
    margin-top: 30px;
}
.attendanc__legend-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.legend-box {
    display: flex;
    align-items: center;
    width: 40%;
}
.legend-box__color {
    display: block;
    max-width: 35px;
    width: 100%;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
}
.legend-box__name {
    display: block;
    max-width: 40px;
    font-size: 14px;
    font-weight: 500;
}
.legend-box__holiday .legend-box__color {
    background-color: #acd7d3;
}
.legend-box__leave .legend-box__color {
    background-color: #dcd7fa;
}
.legend-box__off .legend-box__color {
    background-color: #f4f6f7;
}
.legend-box__absent .legend-box__color {
    background-color: #eda4aa;
}
.legend-box__present .legend-box__color {
    background-color: #d8f8cf;
}

::ng-deep .leave {
   background-color: #dcd7fa;
}
::ng-deep .holiday {
    background-color: #acd7d3;
}
::ng-deep .present-date {
    background-color: #d8f8cf;
}
::ng-deep .weekend {
    background-color: #f4f6f7;
}
::ng-deep .absent {
   background-color: #eda4aa;
}
.bimonthly__select{
    color: #85b2f6;
    background-color: #cfe1fb;
    padding: 4px 12px;
    border-radius: 18px;
    text-align: center;
    transition: all ease-in-out 400ms;
    cursor: pointer;
    width: 40%;
    font-size: 14px;
}
.bimonthly__select-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
}
.bimonthly__select:hover{
    color: #cfe1fb;
    background-color: #85b2f6;
}
.bimonthly__active {
    color: #cfe1fb;
    background-color: #85b2f6;
    width: 60%;
    transform: scaleY(1.2);
}
.calendar-wrapper{
    margin-top: -18px;
}
.mat-calendar {
    width:100%;
}
.attendance__details ul li span:first-child{
    max-width: 107px;
    width:100%;
    display: block;
}