.attendance-log {
}
.attendance-log__header{
    padding: 15px 0;
}

.attendance-log__list-header {
    background: #349b9e82;
    border-radius: 8px 8px 0 0;
}

.attendance-log__wrapper{
    padding: 20px;
}
  
.attendance-log__list-footer {
    background: #b0b0b042;
    border-radius: 0 0 8px 8px;
}
  