.timesheet__wrapper{
  padding: 25px;
}

.timesheet__header {
  padding: 25px;
  background: white;
  border-radius: 12px 12px 0 0;
}

.timesheet__list {
  background: white;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
}

.timesheet__list-footer {
  border-radius: 0 0 8px 8px;
}

.timesheet__button {
  padding: 4px 35px;
}
