<h1>Dashboard</h1>

<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #drawer class="sidenav" fixedInViewport-->
<!--               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--               [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--               [opened]="(isHandset$ | async) === false">-->
<!--    <mat-toolbar>-->
<!--      <div class="logo-wrapper">-->
<!--        <img src="../assets/app-images/iofortech-300-logo.png" alt="iofortech">-->
<!--      </div>-->
<!--    </mat-toolbar>-->
<!--    <div fxLayout="column">-->
<!--      <mat-nav-list class="sidenav-texts" *ngFor="let nav of navigators" (click)="selectedNav(nav.nav_name)">-->
<!--        <a mat-list-item>-->
<!--          <div class="icon-sidenav__wrapper"><img src="../assets/app-images/{{nav.nav_icon}}.png" alt="icons"></div>-->
<!--          {{nav.nav_name}}-->
<!--        </a>-->
<!--      </mat-nav-list>-->
<!--      <mat-nav-list class="sidenav__settings">-->
<!--        <a> <img class="sidenav-settings" src="../assets/app-images/settings_icon.png"> </a>-->
<!--      </mat-nav-list>-->
<!--    </div>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar color="primary" class="top-header">-->
<!--      <div fxFlex></div>-->
<!--      <div fxLayout="row" class="top-right__header-wrapper">-->
<!--        <div class="welcome">Welcome, John!</div>-->
<!--        <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--          <mat-icon>account_circle</mat-icon>-->
<!--        </button>-->
<!--        <mat-menu #menu="matMenu">-->
<!--          <button mat-menu-item (click)="openProfile()">My Profile</button>-->
<!--          <button mat-menu-item (click)="logOut()">Logout</button>-->
<!--        </mat-menu>-->
<!--      </div>-->
<!--    </mat-toolbar>-->
<!--    <div class="main-content__wrapper">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


