<div class="dashboard">
    <div class="dashboard__wrapper">
        <div class="dashboard__sections" fxLayoutGap="25px" fxLayout="row  wrap">
            <div class="box" fxLayout="column" fxFlex="35">
                <div class="box-title-notif">Notifications</div> 
                <mat-list dense fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let not of notifsPassed">
                    <mat-list-item class="margin-left-15">{{not.full_name}} has {{not.action}}</mat-list-item>
                    <mat-list-item fxFlex="40">
                        <span class="dashboard-timeago">{{not.time}}</span>    
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxLayout="column  wrap" fxFlex fxLayoutGap="25px">
                <div fxLayout="row wrap" fxLayoutGap="25px">
                    <div class="box box-member" fxLayout="column">
                        <div class="box-icon">
                            <mat-icon>people</mat-icon>
                        </div>
                        <div class="box-total">{{totalMember}}</div>  
                        <div class="box-title">Total Members</div>   
                        
                        <div class="member__vector">
                            <img src="../../assets/app-images/membersvector.png" alt="members">
                        </div>
                    </div>
                    <div class="box box-invoice box-title-invoice" fxLayout="row" fxFlex (click)="createInvoice()">Create Invoice</div>
                </div>

                <div fxLayout="row wrap" fxLayoutGap="25px">

                    <div class="box" fxFlex fxLayout="row">
                        <div fxLayout="column wrap" class="clients">
                            <div class="box-title-notif" fxLayout="row">Current Clients</div>

                            <div  fxFlex fxLayout="row">
                                <div class="client__lists" *ngFor="let client of clients">
                                    <div class="client__name">{{client.clients_name}}</div>
                                    <div fxLayoutAlign="end end">
                                    <span class="client__charged">{{client.incharged}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="box box-member" fxLayout="column">
                        <div fxLayout="row">
                            <div class="upcoming__title">Upcoming Events</div>
                            <div class="upcoming__img-wrapper">
                                <img class="upcoming__img" src="../../assets/app-images/calendar.png" alt="calendar">
                            </div>
                        </div>    
                        <div fxLayout="column">
                            <div class="divider"></div>
                            <span class="no-record" fxLayout="row" fxLayoutAlign="center center" *ngIf="events.length === 0">No events available.</span>
                            <div class="date-lists" fxLayout="row" *ngFor="let e of events">
                                <div fxLayout="column" fxFlex="40" class="date-avatar__wrapper">
                                    <div class="date-month">{{e.event_month}}</div>
                                    <div class="date-avatar">{{e.event_date.getDate()}}</div>
                                </div>
                                <div class="date-title">{{e.event_title}}</div>
                            </div>
                        </div>                 
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>