/* You can add global styles to this file, and also import other style files */
/*  Global */
* {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}
h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #a3a5b4;
  font-weight: 500;
}

mat-subheader {
  font-family: 'Poppins', sans-serif !important;
}

img {
  width: 100%;
}

.orange-bg {
  background: #ea7d0e;
  color: white;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* color: #616161; */
  background-color: #f3f6f7;

  /* background: linear-gradient(116.42deg, rgb(255 255 255) 0.58%, #009688 100%); */
}
.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}
::ng-deep .mat-form-field {
  font-family: 'Poppins', sans-serif !important;
  position: relative;
}

.mat-menu-item {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  height: 41px;
  line-height: 43px;
}
.mat-form-field {
  font-size: 14px !important;
}
.blue {
  color: #319a9d;
}

.blue:hover {
  color: #ea7d0e;
}

.capitalize{
  text-transform: capitalize;
}

.margin-left-15{  
  margin-left: -15px;
}

.table__wrapper{
  padding: 25px;
}

.green-snackbar {
  background: #319a9d;
  color: black;
  border-left: 10px solid #ea7d0e;
}

.orange-snackbar {
  background: #ea7d0e;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-left: 10px solid #319a9d;
}

.red-snackbar {
  background: #E57373;
  color: black;
}

.dialog-red-snackbar {
  position: absolute;
  bottom: 150px;
  background: #cf1717;
  color: white;
  left: 490px;
}

.error-hint {
  color: #cf1717;
}

.mat-toolbar.mat-primary {
  background: transparent;
  color: white;
}
.mat-drawer-container {
  background-color: transparent !important;
}

.primary-button {
  color: white;
  background: #ea7d0e;
  padding: 4px 35px;
  font-size: 15px;
}


.list-content:hover {
  background: #eceef67c;
  cursor: pointer;
}

.list-content {
  border-bottom: 1px solid #eceef6;
}


.list-header mat-list-item {
  color: #8f8f8f;
  font-size: 12px !important;
  font-weight: 400;
}



.medial-button {
  color: white;
  background: #319a9d;
  padding: 4px 35px;
  font-size: 15px;
}

.primary-border-button {
  color: #ea7d0e;
  padding: 4px 35px;
  font-size: 15px;
}

.remove-decors {
  text-decoration: none;
}

.page-title {
  font-size: 28px;
  color: #444444;
  padding: 12px 0;
}

.no-data__span {
  padding: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#f1f1f1;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bebebe;
}

.delete-button-icon {
  color: #26a69a99;
  border: 1px solid #dcf1ef;
  border-radius: 5px;
  background: #26a69a29;
}

.edit-button-icon {
  color: #ea7d0e;
  border: 1px solid #ea7c0e00;
  border-radius: 5px;
  background: #ea7d0e59;
}

.cancel-button {
  background: #e7e7e7;
  color: grey;
}

.no-record {
  padding: 10px;
  color: #c2c3c9;
  font-size: 12px;
}

/*********************** PROGRESS BAR ******************/

.mat-progress-bar-fill::after {
  background-color: #40a1a4;
}

.mat-progress-bar-buffer {
  background-color: #d0e6e7;
}

/*mat-spinner.loading.mat-primary.mat-progress-spinner.mat-progress-spinner-indeterminate-animation.mat-spinner {*/
/*  margin: 0 auto;*/
/*  top: 46%;*/
/*}*/

.default__overlay {
  display: none;
}

.overlay__overlay {
  /*background: #ffffff2e;*/
  backdrop-filter: blur(1px);
  z-index: 10000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay__overlay .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ff8100 !important;
}

.icon-sidenav__wrapper {
  margin-right: 19px;
}

.logo-2 {
  display: none;
}

.capital {
  text-transform: capitalize;
}

.cursor {
  cursor: pointer;
}

/*.burger-menu {*/
/*  display: none;*/
/*}*/

.small-screen {
  display: none !Important;
}

.big-screen {
  display: block;
}

.header-name {
  text-transform: capitalize;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #00000029;
  padding: 0 28px 0 15px;
}

.header-icon {
  position: absolute;
  top: 15px;
}

/* Media Queries! */


@media screen and (max-width: 1200px) {
  /* *** Side Navigator *** */
  .sidenav-texts {
    width: 100%;
  }

  .icon-sidenav__wrapper {
  }

  .sidenav-label {
    font-size: 13px;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 768px) {
  .burger-menu {
    display: block;
    position: absolute;
    left: 0;
    background: #1bd1d6;
    border-radius: 0 5px 5px 0;
    color: white;
    transition: 1s;
  }

  .burger-menu .mat-icon {
    height: 26px;
    width: 26px;
    padding: 5px;
    transition: 1s;
  }

  .page-title {
    font-size: 26px;
  }

  .logo-1 {
    display: none;
  }

  .icon-sidenav__wrapper {
    margin: 0 auto;
  }

  .logo-2 {
    display: block !Important;
    width: 30px !Important;
    margin-left: -8px;
  }

  .sidenav-label {
    display: none;
  }

  .welcome {
    font-size: 13px;
  }

  .small-screen {
    display: block !Important;
  }

  .small-screen__nav {
    text-transform: capitalize !Important;
  }

  .big-screen {
    display: none !Important;
  }

  .sidenav {
    display: none !Important;
  }
}

@media only screen and (max-width: 600px) {
  .employee-card {
    min-width: 100% !Important;
  }

  .page-title {
    font-size: 22px;
  }
}
/* Invoice */

.add-invoices__date {
  font-size: 30px;
  margin: 10px 0;
}
.month {
  font-size: 40px;
  color: #4ca7a9;
}
.add-invoices__wrapper{
  margin: 22px;
}

.add-invoices__sections {
  padding: 15px 20px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
  border-radius: 4px;
}
.add-invoice__content .header {
  /* background: #a9d3d4; */
  border-radius: 5px 5px 0 0;
}

.add-invoice__content .table {
  margin-top: 25px;
  border: 1px solid #dcd8d8;
  border-radius: 5px;
  padding: 10px 15px;
}

.add-invoice__content mat-subheader {
  background: #9dcecfa1;
  border-radius: 5px 5px 0 0;
}

.add-invoice__content .lists mat-list {
  border-bottom: 1px solid #e4e4e4;
}
/* New */
.add-invoices{
  padding: 10px 20px;
}
.add-invoice__logo {
  width: 250px;
}
.add-invoice__address {
  margin-top: 15px;
  font-size: 12px;
  font-family: Roboto;
}

.add_invoice__input mat-form-field {
  font-size: 14px;
}
.add_invoice__input form {
  margin-top: 15px;
  width: 100%;
}
.add_invoice__title-form {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  font-family: Roboto;
  background: #c1e6e7;
  padding: 8px 7px;
  color: #319a9d;
  border-radius: 3px;
}
.add_invoice__tables {
  /* border: 1px solid #b6b6b6; */
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 5px;
  transition: 2s;  
  background: white;
}
.add-invoice__value {
  font-weight: 600;
  margin-left: 10px;
}
.add-invoice__others {
  box-shadow: none !important;
}
.add-invoice__others .mat-expansion-panel-header  {
  font-family: Roboto !important;
  font-size: 14px !important;
}
.mat-expansion-panel-content {
  font: 400 14px / 24px Roboto !important;
}
.additional .add_invoice__title-form {
  margin-top: 15px;
  margin-bottom: 5px;
}
.add_invoice__tables .mat-subheader {
font-weight: 600;
color: #319a9d;
}

.add_invoice__tables mat-list-item {
text-transform: capitalize;
}
.add_invoice__tables mat-list {
margin-top: -20px;
}

.select_setting {
cursor: pointer;
color: #424242;
}
.invoice__submit {    
  width: 25%;
  margin: 7px;
  background: #319a9d;
  color: white;
}
.invoice_by{
  margin-top: 8px !important;
}


@media print {  
  .add-invoices__date {
    font-size: 30px;
    margin: 10px 0;
  }
  .month {
    font-size: 40px;
    color: #4ca7a9;
  }
  .add-invoices__wrapper{
    margin: 22px;
  }

  .add-invoices__sections {
    padding: 15px 20px;
    background: white;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
    border-radius: 4px;
  }
  .add-invoice__content .header {
    /* background: #a9d3d4; */
    border-radius: 5px 5px 0 0;
  }

  .add-invoice__content .table {
    margin-top: 25px;
    border: 1px solid #dcd8d8;
    border-radius: 5px;
    padding: 10px 15px;
  }

  .add-invoice__content mat-subheader {
    background: #9dcecfa1;
    border-radius: 5px 5px 0 0;
  }

  .add-invoice__content .lists mat-list {
    border-bottom: 1px solid #e4e4e4;
  }
  /* New */
  .add-invoices{
    padding: 10px 20px;
  }
  .add-invoice__logo {
    width: 250px;
  }
  .add-invoice__address {
    margin-top: 15px;
    font-size: 12px;
    font-family: Roboto;
  }

  .add_invoice__input mat-form-field {
    font-size: 14px;
  }
  .add_invoice__input form {
    margin-top: 15px;
    width: 100%;
  }
  .add_invoice__title-form {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Roboto" !important;
    background: #c1e6e7;
    padding: 8px 7px;
    color: #319a9d;
    border-radius: 3px;
  }
  .add_invoice__tables {
    border: 1px solid #b6b6b6;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 5px;
    transition: 2s;
  }
  .add-invoice__value {
    font-weight: 600;
    margin-left: 10px;
  }
  .add-invoice__others {
    box-shadow: none !important;
  }
  .add-invoice__others .mat-expansion-panel-header  {
    font-family: Roboto !important;
    font-size: 14px !important;
  }
  .mat-expansion-panel-content {
    font: 400 14px / 24px Roboto !important;
  }
  .additional .add_invoice__title-form {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .add_invoice__tables .mat-subheader {
  font-weight: 600;
  color: #319a9d;
  }

  .add_invoice__tables mat-list-item {
  text-transform: capitalize;
  }
  .add_invoice__tables mat-list {
  margin-top: -20px;
  }

  .select_setting {
  cursor: pointer;
  color: #424242;
  }
  .invoice__submit {    
    width: 25%;
    margin: 7px;
    background: #319a9d;
    color: white;
  }
  .invoice_by{
    margin-top: 8px !important;
  }
}


/* Global Date CSS */
.date-month {
  background: #eceef6;
  padding: 0 9px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 7px;
  width: 100%;
  text-align: center;
}


.date-list{
  width: 100%;
}

.date-avatar {
  background: #e56353;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  text-align: center;
  color: white;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-title {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 10px;
}

.date-lists {
  padding: 10px 0px;
}

.date-avatar__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eceef6;
  border-radius: 5px;  
  padding-bottom: 8px;
  overflow: hidden;
  margin-right: 15px;
}

/* Empty Data Results CSS */

.empty__data{
  margin-top: 12px;
  font-size: 14px;
  color: #bebebe;
  border: 1px solid #bebebe;
  border-radius: 50px;
  text-align: center;
}

.bold {
  font-weight: 800;
}



/* Employee Page */

.thumbnail img {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}
.thumbnail {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.employee__table{
  background: white;
  box-shadow: 0px 20px 0px rgba(76, 87, 125, .02);
  border-radius: 12px;
  padding: 10px;
}
.employee__profile{
  background: white;
  border-radius: 12px;
  padding: 10px;
}
.employee__header-table mat-list-item {
  text-transform: uppercase;
  font-size: 14px;
  color: #a3a5b4;
  font-weight: 500;
}
.employee__content-table {
  border-bottom: 1px dashed #E1E3EA;
  padding: 10px 0 10px 0;
}


.item-title {
  font-weight: 700;
  font-size: 14px;
}
.item-second-title{
  font-weight: 600;
  font-size: 14px;
  color: #6d6d6d;
  text-transform: uppercase;
}
.item-line {
  font-weight: 500;
  font-size: 12px;
  color: #a2a5b5;
}
.item-icon {
  color: #a2a5b5;
  background: #F9F9F9;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 6px;
  margin-right: 8px;
}
.item-icon:hover {
  cursor: pointer;
  color: #469cf0
}
.table-titles {
  font-size: 28px;
  font-weight: 500;
  margin: 10px;
}
.table-subtitles {
  margin: -1px 10px;
  font-size: 15px;
  color: #A2A5B5;
}
.add-btn {
  color: #469cf0;
  background: #e9f4ff;
}
.back-btn {
  padding: 14px;
  cursor: pointer;
}
