<div class="setting__wrapper" fxLayout="column">
  <div fxLayout="row" class="setting__header">
    <span class="page-title">Settings</span>
    <span fxFlex></span>
  </div>
  <div fxLayout="column">
    <mat-tab-group>
      <mat-tab label="Categories">
        <div fxLayout="row" class="setting__content">
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Project Title</mat-label>
              <mat-select>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Second">

      </mat-tab>
      <mat-tab label="Third">

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
